main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 1fr;
    gap: 10px;
    
    height: 100vh;
    align-items: start;

    justify-items: center;


}

main .titulo {
align-self: center;
grid-column: 1/4;
text-align: center;
}

main .titulo h2 {
    font-size: 2em;
    font-weight: 100;
    font-style: normal;
}