*{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;    
    box-sizing: border-box;    
}
body {
    max-width: 900px;    
    margin: 3px auto;
    box-shadow: 1px 1px 50px 5px #0000006b;    
}






