body {
    font-family: Georgia, Times, 'Times New Roman', serif;

}

main {
    max-width: 590px;
    border: 2px solid #000;
    margin: 50px auto;
    padding: 50px;
}

main hr {
   border: 2px solid #000; 
}

main p, ul li, h2 {
    margin: 3px 0;
}

 main h2,h3 {
    color: #45A757;
 }

 main h4 {
    color: #5E9BD3;
 }

